{
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
}

body{
background:#222;
}

#header {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
}
#footer{
	position: absolute;
	bottom: 0;
	width: 100%;
}

#content{
text-align:justify;
padding:1em;
font-family:"Bookman Old Style" ;
}
#contentHeading{
color:rgb(0,0,255);
}

#motto{
color:green;
padding:1em;
}



.imgpos {
    background:url(bundes.jpg) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
	left:30%;
    top:40%;
  	height:300px;                   /* text area height */
  	width:450px;                    /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}
.map {
    /*background:url(map.jpg) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
	left:0%;
    top:2%;
  	                  /* text area height */
  	width:100%;                    /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
       background-size: 90%;         
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}


.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
.thumbnails img {
height: 20px;
border: 1px solid #222;
padding: 1px;
margin: 0 10px 10px 0;
}


.preview img {
border: 1px solid #222;
padding: 1px;
height: 280px;
}

.navigation-bar .ui-btn .ui-btn-inner { 
	padding-top: 40px !important;
}

.navigation-bar .ui-btn .ui-icon { 
	width: 30px!important; 
	height: 30px!important; 
	margin-left: -15px !important; 
	box-shadow: none!important; 
	-moz-box-shadow: none!important; 
	-webkit-box-shadow: none!important; 
	-webkit-border-radius: 0 !important; 
	border-radius: 0 !important; 
}

#nav_map .ui-icon { 
	background-size: 34px 34px; 
}

#nav_map .ui-icon { 
	background:  url(103-map.png) 50% 50% no-repeat; 
}

#nav_contact .ui-icon { 
	background-size: 34px 34px; 
}

#nav_contact .ui-icon { 
	background:  url(18-envelope.png) 50% 50% no-repeat; 
}

#nav_img .ui-icon { 
	background-size: 34px 34px; 
}

#nav_img .ui-icon { 
	background:  url(42-photos.png) 50% 50% no-repeat; 
}

#nav_abt .ui-icon { 
	background-size: 34px 34px; 
}

#nav_abt .ui-icon { 
	background:  url(137-presentation.png) 50% 50% no-repeat; 
}

#nav_home .ui-icon { 
	background-size: 34px 34px; 
}

#nav_home .ui-icon { 
	background:  url(53-house.png) 50% 50% no-repeat; 
}